# Python env
venv/
backend/venv/

# Node
node_modules/
frontend/node_modules/

# ML Models
*.h5
*.pt
*.pth

# Dataset
training/
dataset/
data/

# Cache
.cache/

# Archives
*.zip

# Python
__pycache__/
*.pyc

# Ignore all images
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.webp